.currencySelect {
    width:5rem;
    height: 2rem;
    border: 1px solid rgb(27, 112, 161);
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
   margin-top: 3.1rem;
    color:rgb(71, 63, 63); 
}