form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(58, 58, 58);
  height: 20rem;
  width: 20rem;
  padding: 1.3rem;
  border: 2px solid rgb(27, 112, 161);
  border-radius: 1rem;
  margin: 2rem;
}

 label {
   font-size: 0.8rem;
   margin: 1rem;
 }
  .input, button, .categorySelect {
    width:7rem;
    height: 2rem;
    border: 1px solid rgb(27, 112, 161);
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 1.3rem;
    font-weight: 700;
    color:rgb(71, 63, 63);
  }

  .currency {
    font-size: 1.3rem;
    font-weight: 700;
    color:rgb(71, 63, 63);
  }

  form button {
   align-self: center;
   width:8rem;
    height: 3rem;
    
    font-size: 1.2rem;
    font-weight: 400;
    background: rgb(247, 247, 247);
    color: rgb(58, 58, 58);
 }

 button:hover {
  background: rgb(27, 112, 161);
  color: white;
 }

   label span {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    color: rgb(27, 112, 161);
  }
  .categorySelect {
    font-size: 0.9rem; 
    width: 10rem;
    font-weight: 400;
  }
  
  label {
    font-size: 1.2rem;
    
  }

 